ConsoleAppForSoap/Connected Services/ServiceRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfsoapeksamen.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_SOAP_Template" />
  <xs:element name="VisListen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisListenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_SOAP_Template" minOccurs="0" name="VisListenResult" nillable="true" type="q1:ArrayOfChangeClassName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndsætObjekt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_SOAP_Template" minOccurs="0" name="temp" nillable="true" type="q2:ChangeClassName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndsætObjektResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SletObjekt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SletObjektResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RedigerObjekt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_SOAP_Template" minOccurs="0" name="temp" nillable="true" type="q3:ChangeClassName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedigerObjektResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UdregnObjekt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UdregnObjektResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UdregnObjektResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>