ConsoleAppForSoap/Connected Services/ServiceRef/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_SOAP_Template" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_SOAP_Template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChangeClassName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeClassName" nillable="true" type="tns:ChangeClassName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeClassName" nillable="true" type="tns:ArrayOfChangeClassName" />
  <xs:complexType name="ChangeClassName">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeDouble" type="xs:double" />
      <xs:element minOccurs="0" name="ChangeInteger" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeClassName" nillable="true" type="tns:ChangeClassName" />
</xs:schema>